# ------------------------------
# Python
# ------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
venv/
kivy_env/
*.env

# ------------------------------
# Kivy / Buildozer
# ------------------------------
bin/
build/
*.apk
*.aab
*.zip
.cache/
*.log

# ------------------------------
# Android Studio
# ------------------------------
.gradle/
.idea/
local.properties
*.iml

# ------------------------------
# OS
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Editors
# ------------------------------
.vscode/
*.swp
